*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f3f3f3;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
.head{

}
.app-link{
	background: #282828;
	display: flex;
}
.app-link-img1 img{
	color: gray;
	width: 12px;
	margin: 0px 17px;
	margin-top: 17.5px;
	cursor: pointer;
}


.app-link-img{
	padding: 10px 0px;
}
.app-link-img span{
	display: inline-block;
	margin-top: 4px;

}
.app-link-img img{
	width: 30px;
	cursor: pointer;
	border-radius: 4px;
	float: left;
}
.app-link-img h4{
	color: white;
	font-size: 11px;
	margin-left: 5px;
}
.open-button button{
	right: 15px;
	position: absolute;
	padding: 6px 8px;
	margin-top: 11px;
	background: #f68c1e;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
}
.top-gif img{
	width: 100%;
}
.head-background{
	background: #fff;
	margin-top: -3px;
}
.top-head{
	padding: 12px 10px;
	justify-content: space-between;
	display: flex;
}
.nav-menu img{
	margin-left: 12px;
	width: 75px;
	cursor: pointer;
}
.right-icons i{
	margin-left: 12px;
	cursor: pointer;
}
.search{
	text-align: center;
	position: relative;
	padding: 2px 5px 10px 5px;
}
.search i{
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
	padding: 3.5px;
	cursor: pointer;
}
.search form input{
	width: 100%;
	height: 30px;
	border-radius: 15px;
	border: 1px solid gray;
	outline: none;
	padding-left: 30px;

}
.main-content{
	width: 100%;
	padding-bottom: 20px;
}
.black-friday{
	background: #fff;
	padding: 3px 0px;
	margin-top: 5px;
}
.text-head{
	background: #000000;
}
.text-head h4{
	color: #fcfcfc;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 550;
}



/* IMAGE SLIDE */
.img-slide img{
	width: 100%;
	border-radius: 20px;
	padding: 10px;
}

.black-friday2{
	background: #fff;
	margin-top: 7px;
}
.products-container{
	padding: 8px;
}
.scroll{
	display: flex;
	overflow-x: auto;
}
.img-slide3:not(:first-child) {
	padding-left: 5px;
}
.products-head{
	background: #ede5f4;
	width: 100%;
	height: 35px;
}

.products-head .see-all{
	right: 0;
	position: absolute;
}
.black-friday2 h4{
	margin-bottom: 12px;
	font-size: 14px;
	padding: 10px;
}
.black-friday2 .img-slide2{
	display: inline-block;
}


/* IMAGE SLIDE 2 */
.img-slide2{
	background: #ffffff;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-left: 8px;
}

.img-slide2 img{
	width: 80px;
	transition: transform 0.5s;
	
}
.img-slide2 img:hover{
	transform: scale(1.1);
}
.img-slide2 h5{
	font-size: 11px;
}


/* IMAGE SLIDE 3 */
.img-slide3{
	background: #ffffff;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.img-slide3:not(:first-child) {
	margin-right: -10px;
}
.img-slide3 img{
	width: 145px;
	transition: transform 0.5s;
	margin-top: 15px;
}
.img-slide3 img:hover{
	transform: scale(1.1);
}
.img-slide3 h5{
	font-size: 10px;
	margin-top: 2px;
}
.img-slide3 h4{
	font-size: 12px;
	font-weight: 600;
	margin-top: 5px;
	text-align: left;
	
}


.flash-sales{
	background: #e71600;
	padding: 7px;
	color: white;
	font-size: 13px;
}
.flash-sales img{
	float: left;
	margin-right: 5px;
	width: 20px;
	margin-top: 5px;
}
.flash-sales h4{
	font-weight: 600;
}
.flash-sales h5{
	margin-top: 6px;
}
.see-all{
	float: right;
}

p{
	
	padding: 0px 10px;
	font-size: 13px;
}



.main-footer{
	background: #282828;
	text-align: center;
}
.back-to-top button{
	background: #323232;
	padding: 10px;
	border: none;
	outline: none;
	width: 100%;
	color: white;
	font-size: 13px;
	cursor: pointer;
}
.footer-text{
	padding: 15px 12px;
}

.footer-link{
	color: white;
	font-size: 12px;
	margin-bottom: 15px;
}
.footer-link li{
	display: inline-block;
	margin-top: 12px;
	list-style: none;
}
.footer-link li:not(:first-child) {
	margin-left: 15px;
}

hr{
	border-bottom: 0px solid gray;
}
.last-footer-text{
	color: gray;
	margin-top: 15px;
	font-size: 12px;
}
